* {
  padding: 0%;
  padding: 0%;
}
body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  background-color: rgb(35, 35, 35);
}
.Spotify-Logo{
  height: 43px;
  width: 43px;
  position: relative;
  bottom: 57px;
}
.Heading {
  font-weight: 600;
  font-size: 24px;
  position: relative;
  bottom: 32px;
  position: relative;
  bottom: 62px;
}
.Form {
  background-color: rgba(0, 0, 0, 0.525);
  color: white;
  border: 1px solid black;
  height: 750px;
  width: 340px;
  display: flex;
  justify-content: center;
  align-items: end;
  text-align: center;
}
button {
  padding: 10px 60px 10px 60px;
  margin: 5px;
  cursor: pointer;
  position: relative;
  bottom: 33px;
}
.Signup {
  padding: 8px 10px 8px 10px;
  border-radius: 20px;
  border: 2px solid rgb(92, 254, 92);
  color: black;
  font-weight: 600;
  font-size: 13px;
  background-color: rgb(92, 254, 92);
  position: relative;
  bottom: 39px;
  cursor: pointer;
}
.Signup:hover{
  background-color:rgb(0, 220, 0);
  border: 2px solid rgb(0, 220, 0);
  
}
#a-signup{
  text-decoration: none;
  color: black;
}
.Google {
  padding-right: 63px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: 600;
  background-color: rgb(0, 0, 0, 0.1);
  color: white;
}
.Google:hover{
  background-color: black;
  color: rgba(255, 255, 255, 0.762);
}
.Facebook {
  padding-right: 47px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgb(0, 0, 0, 0.1);
  color: white;
  font-weight: 600;
  
}
.Facebook:hover{
  background-color: black;
  color: rgba(255, 255, 255, 0.762);
}
.Apple {
  padding-right: 72px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: 600;
  background-color: rgb(0, 0, 0, 0.1);
  color: white;
}
.Apple:hover{
  background-color: black;
  color: rgba(255, 255, 255, 0.762);
  
}
.Login {
  border: none;
  background-color: rgb(0, 0, 0, 0.1);
  font-weight: 600;
  color: white;
}
.Login:hover{
  color: rgba(255, 255, 255, 0.644);
}
